/* 	==========================================================================
	SM // SMALL // TABLET
	========================================================================== */
@media only screen and (max-width: 768px) {

    .donationopt_btn {
        width: 100% !important;
        float: none;
    }
    
    .donationpad label span{
        font-size: 24px;
    }
    
    .donationsubmit .btn{
        font-size: 16px;
    }
    
    .modal-dialog{
        margin:  10px auto;
    }
}


/* 	==========================================================================
	MD // MEDIUM // SMALL DEKSTOP
	========================================================================== */
@media only screen and (min-width: 992px) {

	

}


/* 	==========================================================================
	LG // LARGE // LARGE DEKSTOP
	========================================================================== */
@media only screen and (min-width: 1200px) {

	

}